  * {
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  /* Base styles */
  
  body {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: black;
  }
  
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /* nav */
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f8e28a;
    z-index: 10;
  }

  .navText {
    color: black;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    color: green;
  }


  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f8e28a;
    color: black;
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: black;
  }

  .green {
    color: green;
  }

  .scrollDown {
    position: absolute;
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 45%;
}

  .scrollDown:visited{
    color: black;
    text-decoration: none;
}

  #scrollDownBottom {
    margin-top: 48%;
  }


@media (max-width: 61.25em) {
  .scrollDown {
    margin-top: 70%;
  }

  #scrollDownBottom {
    margin-top: 80%;
  }
}

@media (max-width: 29.4em) {
  .scrollDown {
    margin-top: 90%;
  }

  #scrollDownBottom {
    margin-top: 100%;
  }

  .welcome-section {
    text-align: center;
  }
}



  /* About me */

  .question {
    display: block;
    background-color: #f8e28a;
    font-size: 5rem;
    text-align: center;
  }

  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3%;
    width: 100%;
    height: 100vh;
    background-color: #f8e28a;
    color: black;
  }

  .aboutMeImg {
    border-radius: 50%;
    margin-right: 10%;
    width: 400px;
    float: right;
    border: 1px black;
}

.aboutMeText {
    width: 40%;
    margin-left: 7%;
    text-align: left;
    font-size: 22px;
    word-wrap: break-word;
    margin-right: 30%;
}

@media (max-width: 61.5em) {
  .about-me {
    display: block;
    width: 100%;
  }

  .aboutMeText {
    text-align: center;
    width: 85%;
    padding-top: 10%;
  }

  .aboutMeImg {
    
    position: absolute;
    top: 175%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
}

@media (max-width: 42.625em) {
  .aboutMeImg {
    
    position: absolute;
    top: 195%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 985px) and (max-width: 1232px) {
  .about-me {
    display: block;
    width: 100%;
  }

  .aboutMeText {
    text-align: center;
    width: 85%;
    padding-top: 10%;
  }

  .aboutMeImg {
    
    position: absolute;
    top: 175%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 24.375em) {
  .aboutMeImg {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
  }

  .aboutMeText {
    font-size: 110%;
  }
}



  
  /* Projects section */
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: #f8e28a;
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: #f8e28a;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: black
  }
  
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    border: 1px black ssolid;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: #f8e28a;
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: #f8e28a;
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #f8e28a;
    padding-bottom: 15rem;
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 10rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }

  #linkedin:hover {
    color: #0077b5;
}

#mail:hover {
    color: white;
}

#github:hover {
    color: black;
}

#facebook:hover {
    color: #4267b2;
}

#whatsapp:hover {
    color: #33d325;
}

#download:hover {
    color: red;
}

  
