@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(images/tipcalculator-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1rem;
}

.tip-choose button {
    width: 125px;
    padding: 12.5px;
}

.container-sm {
    height: 600px;
    background-color: white;
    border-radius: 20px;
}

.col {
    height: 600px;
    display: flex;
    flex-direction: column;
}

#bill-input, #people-input {
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    width: 100%;
    padding: 10px;
}

.custom {
    width: 125px;
    padding: 12.5px;
    text-align: center;
    border-radius: 0.375rem;
}

.tip-choose button:focus {
    background-color: #000000;
}

.bill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

#addon-wrapping {
    width: 40px;
    text-align: center;
}

.bill-input {
    display: flex;
}

.col-one, .col-two {
    padding: 50px;
}

.tip-choose {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;

}

.first-line, .second-line {
    display: flex;
    justify-content: space-between;
}

.content {
    background-color: hsl(183, 100%, 15%);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 50px;
    color: white;
}

.button-first-row {
    margin-top: 10px;
}

.bill-label, #select-label, .people-label {
    font-size: 2rem;
}

.col-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


.tip-amount, .total-with-tip, .total-per-person {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 70px;
}

.reset-button {
    width: 100%;
    padding: 10px;
}

.total-per-person {
    margin-bottom: 70px;
}

.tip-amount-value, .total-with-tip-value, .total-per-person-value {
    color: #198754;
    font-size: 2.2rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.tip-amount-text, .total-with-tip-text, .total-per-person-text {
    height: 100%;
    display: flex;
    align-items: center;
}


@media (max-width: 995px) {
    .col-two {
        background-color: white;
    }

    .tip-choose button, .custom {
        width: 100px;
    }

    .container-sm {
        height: 600px;
        background-color: white;
        border-radius: 20px 20px 0 0;
    }
}

@media (max-width: 500px) {
    .tip-choose button, .custom {
        width: 75px;
    }
}